# Ignore everything in the client info directories
client/macos/key/*
client/macos/exclusions/*
client/macos/logs/*

# Except for the readmes.
!client/macos/key/README

# Except for the keeps.
!client/macos/exclusions/.keep
!client/macos/logs/.keep
